body {
  font-family: "Roboto", sans-serif;

  background-image: url(../images/weather-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-search {
  max-width: 700px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 40px;
  background: rgba(247, 245, 245, 0.668);
}

.input-group {
  margin-bottom: 25px;
}
h1 {
  color: black;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 0;
}

.date {
  color: black;
  font-size: 14px;
  font-weight: 300px;
  line-height: 28px;
}

.temperature {
  font-size: 40px;
  margin-left: 20px;
}

.weather-temperature {
  padding-top: 15px;
}
.unit {
  font-size: 14px;
  position: relative;
  top: -20px;
}

.unit .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.description {
  font-size: 16px;
  text-transform: capitalize;
  padding-left: 15px;
}

ul {
  font-size: 16px;
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-low {
  opacity: 0.8;
}
small {
  display: block;
  text-align: center;
  margin-top: -30px;
}
